<!doctype html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport"
          content="width=device-width, user-scalable=no, initial-scale=1.0, maximum-scale=1.0, minimum-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <title>Home</title>
    <link rel="stylesheet" href="/css/bootstrap.css">
</head>
<body onload="readData()">

<a href="">Delete Account</a> |
<a href="">Logout</a> |
<a href="">Change Password</a>

<div id="user-voting-zone" class="text-center mt-4"> </div>

<div class="table-responsive container mt-5">
    <table id="mytable" class="table table-bordered table-hover table-striped">
        <thead class="text-center">
        <tr>
            <th>Name</th><th>Party</th><th>Votes</th>
        </tr>
        </thead>
        <tbody id="table-row" class="text-center">

        </tbody>
    </table>
</div>

<div class="modal fade" id="castModal">
    <div class="modal-dialog modal-dialog-centered">
        <div class="modal-content">
            <div class="modal-header">
                <h1 class="modal-title fs-5" id="exampleModalLabel">Cast Vote</h1>
                <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
            </div>
            <div class="modal-body">
                <form id="e-form" method="post">
                    <div class="row">

                        <div class="col-md-12 mb-3">
                            <label for="e-vote">Dept:</label>
                            <select name="e-vote" id="e-vote" class="form-control">


                            </select>
                        </div>

                        <div class="col-md-12">
                            <button type="button" onclick="submitModal()" class="btn btn-warning" data-bs-dismiss="modal">Vote</button>
                        </div>
                    </div>
                </form>
            </div>
        </div>
    </div>
</div>

<script src="https://cdn.jsdelivr.net/npm/bootstrap@5.3.0/dist/js/bootstrap.bundle.min.js"></script>
<script>

    async function submitModal(){
        let adhaar = document.getElementById('e-vote').value;

        const url = "/vote";
        const options = {
            method: 'PUT',
            headers: {
                'Content-Type': 'application/json',
            },
            body: JSON.stringify({
                adhaar: adhaar,
            })
        }
        let res = await fetch(url, options);
        let data = await res.json();

        let ServRes = document.getElementById('user-voting-zone');
        ServRes.innerHTML = data.message;
        if(data.error){
            ServRes.className = 'text-danger';
            setTimeout(()=>{
                ServRes.innerHTML = '';
                ServRes.className = '';
            }, 3000)
        }
        else{
            await readData()
            ServRes.className = 'text-success';
        }
    }

    async function checkUserVotingStatus() {
        try {
            let res = await fetch('/get-voting-status');
            let data = await res.json();

            let zone = document.getElementById('user-voting-zone');

            if (data.status == 1 && data.hasVoted == 0) {
                zone.innerHTML = `
                <div class="alert alert-success">Voting is Live now!</div>
                <button class="btn btn-primary btn-lg" data-bs-toggle="modal" data-bs-target="#castModal" onclick="FetchCandidates()">Cast Vote</button>
            `;
            }
            else if (data.status == 1 && data.hasVoted == 1) {
                zone.innerHTML = `
                <div class="alert alert-info fw-bold">Vote Casted. Thank you!</div>
            `;
            }
            else {
                zone.innerHTML = `
                <div class="alert alert-warning fw-bold">Voting will start soon. Please wait...</div>
            `;
            }
        } catch (err) {
            console.error("Status check failed:", err);
        }
    }

    async function FetchCandidates() {
        try {
            let res = await fetch('/read-records');
            let data = await res.json();

            if(data.error){
                console.log("Unable to fetch Candidates.");
                return;
            }
            else{
                let select = document.getElementById('e-vote');
                let html = `<option value="">Select Candidate</option>`;
                for (let candidate of data.records) {
                    html += `<option value="${candidate.adhaar}">${candidate.name} (${candidate.party})</option>`;
                }
                select.innerHTML = html;
            }
        }
        catch(err){
            console.log(err);
        }
    }


    window.addEventListener('DOMContentLoaded', () => {
        checkUserVotingStatus();
        setInterval(checkUserVotingStatus, 5000);
    });

    window.addEventListener('DOMContentLoaded', () => {
        readData();
        setInterval(readData, 5000);
    });

    async function readData(){
        const url = "/read-records";
        let res = await fetch(url);
        let data = await res.json();
        if(data.error){

        } else{
            renderTable(data.records);
        }
    }

    function renderTable(records){
        let html = '';
        for(let i of records){
            html += '<tr>' +
                '<td>' + i.name + '</td>' +
                '<td>' + i.party + '</td>' +
                '<td>' + i.votes + '</td>' ;
        }
        document.getElementById('table-row').innerHTML = html;
    }
</script>

</body>
</html>